# Criando uma Series

In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana', 42])
s

0    banana
1        42
dtype: object

## Atribuindo Nomes no Index

In [3]:
s = pd.Series(['Paschoal', 'Economista'],
              index=['Nome:', 'Formação:'])
s

Nome:          Paschoal
Formação:    Economista
dtype: object

In [5]:
## dicionários são o modo mais comum de se criar DataFrames

c = pd.DataFrame({
    'Nome': ['Paschoal', 'Renato'],
    'Ocupação': ['Economista', 'Arquiteto'],
    'Nascimento': ['1983-08-09', '1984-10-10'],
    'Falecimento':['2022-01-20', '2022-02-20'],
    'Idade': [38, 37]
})

In [6]:
c

       Nome    Ocupação  Nascimento Falecimento  Idade
0  Paschoal  Economista  1983-08-09  2022-01-20     38
1    Renato   Arquiteto  1984-10-10  2022-02-20     37

In [7]:
c.dtypes

Nome           object
Ocupação       object
Nascimento     object
Falecimento    object
Idade           int64
dtype: object

In [9]:
# ordenando nosso dicionário - a artir da inserção dos dados - ele mantém a ordenação.

from collections import OrderedDict

In [10]:
c = pd.DataFrame(OrderedDict({
    'Nome': ['Paschoal', 'Renato'],
    'Ocupação': ['Economista', 'Arquiteto'],
    'Nascimento': ['1983-08-09', '1984-10-10'],
    'Falecimento':['2022-01-20', '2022-02-20'],
    'Idade': [38, 37]
})
)

In [11]:
c

       Nome    Ocupação  Nascimento Falecimento  Idade
0  Paschoal  Economista  1983-08-09  2022-01-20     38
1    Renato   Arquiteto  1984-10-10  2022-02-20     37

In [16]:
# fatiando nossos dados - inserindo umn index com o nome

c = pd.DataFrame({
    'Ocupação': ['Economista', 'Arquiteto'],
    'Nascimento': ['1983-08-09', '1984-10-10'],
    'Falecimento':['2022-01-20', '2022-02-20'],
    'Idade': [38, 37]
},
    index = ['Paschoal', 'Renato'],
    columns=['Ocupação', 'Nascimento', 'Falecimento', 'Idade'])

In [17]:
c

            Ocupação  Nascimento Falecimento  Idade
Paschoal  Economista  1983-08-09  2022-01-20     38
Renato     Arquiteto  1984-10-10  2022-02-20     37

In [18]:
c.loc['Paschoal']

Ocupação       Economista
Nascimento     1983-08-09
Falecimento    2022-01-20
Idade                  38
Name: Paschoal, dtype: object

In [19]:
c.index[0]

'Paschoal'

In [20]:
c.index[1]

'Renato'

In [22]:
idade = c['Idade']
idade

Paschoal    38
Renato      37
Name: Idade, dtype: int64

In [23]:
# alguns cálculos estatísticos que podem ser feitos após o fatiamento

idade.mean()

37.5

In [24]:
idade.min()

37

In [25]:
idade.max()

38

In [26]:
idade.std()

0.7071067811865476

## Subconjuntos com Booleanos - Series